[submodule "DataManager/ReportForm/src/Repository"]
	path = DataManager/ReportForm/src/Repository
	url = git@github.com:max-eipi-gas-modules/Repository.git
[submodule "DataManager/ReportForm/src/UrlFetch"]
	path = DataManager/ReportForm/src/UrlFetch
	url = git@github.com:max-eipi-gas-modules/UrlFetch.git
[submodule "DataManager/ReportForm/src/CustomLogger"]
	path = DataManager/ReportForm/src/CustomLogger
	url = git@github.com:max-eipi-gas-modules/CustomLogger.git
[submodule "DataManager/ReportForm/src/UrlFetch.LINE"]
	path = DataManager/ReportForm/src/UrlFetch.LINE
	url = git@github.com:max-eipi-gas-modules/UrlFetch.LINE.git
[submodule "DataManager/ReportForm/src/UrlFetch.Slack"]
	path = DataManager/ReportForm/src/UrlFetch.Slack
	url = git@github.com:max-eipi-gas-modules/UrlFetch.Slack.git
[submodule "DataManager/ReportForm/src/CutomLogger.LINE"]
	path = DataManager/ReportForm/src/CutomLogger.LINE
	url = git@github.com:max-eipi-gas-modules/CutomLogger.LINE.git
[submodule "DataManager/ReportForm/src/CustomLogger.Slack"]
	path = DataManager/ReportForm/src/CustomLogger.Slack
	url = git@github.com:max-eipi-gas-modules/CustomLogger.Slack.git
[submodule "DataManager/ReportForm/src/Configuration"]
	path = DataManager/ReportForm/src/Configuration
	url = git@github.com:max-eipi-gas-modules/Configuration.git
[submodule "DataManager/ReportForm/src/DIProperty"]
	path = DataManager/ReportForm/src/DIProperty
	url = git@github.com:max-eipi-gas-modules/DIProperty.git
[submodule "DataManager/ReportForm/src/CustomCacheProvider"]
	path = DataManager/ReportForm/src/CustomCacheProvider
	url = git@github.com:max-eipi-gas-modules/CustomCacheProvider.git
